@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,200;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');


body {
    transition: background-image 0.5s ;
    font-family: "IBM Plex Mono", monospace !important;
    font-size: 1.5rem;
}
.navbar {
    height: 8em;
}

.day {
    background-color: black;
    /* background-image: url("/assets/images/is the sun coming back-web.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/IMG_0135.jpeg");
    background-position: center;
}

.night {
    background-color: black;
    background-image: url("/assets/images/is the sun coming back-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio-content {
    padding-top: 1em;
    margin:auto;
    transform: translate(0%)
}



.portfolio-content::-webkit-scrollbar {
    display: none;
}

@keyframes rotateLeft {
    0% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes rotateRight {
    0% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(65deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

.rotateLeft {
    animation: rotateLeft 0.5s ease-in-out;
}
.rotateRight {
    animation: rotateRight 0.5s ease-in-out;
}

.parent {
    transform:rotate(45deg);
    width:70%;
}

.portfolio-controls {
    display: flex;
    position: relative;
    top:1em;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 20%;
    width: 100%;
    padding: 20px;
}

.day .portfolio-controls{
    background-color: white;
}

.night .portfolio-controls {
    background-color: black;
    color: lightgray;
}

.night .portfolio-controls button {
    color: lightgray;
}

footer {
    padding-top:2em;
    height:30em;
}

.day footer{
    background-color: white;
}

.night footer {
    background-color: black;
}

.modal-dialog img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.modal-dialog {
    max-width: 1000px !important;
    margin: 1.75rem auto;
}

.day .portfolio-content {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}

.night .portfolio-content {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
}

#about {
    padding-top: 2em;
    position: relative;
    bottom:2.5em;
    border: 0px;
    margin-bottom:15%;
}